<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae,
      beatae. Delectus, magnam quam quod aspernatur architecto facere, quae rem
      cum impedit nemo quo doloribus dolor deleniti quaerat sit et ab, suscipit
      cumque sunt? Natus vel aliquid ducimus laborum facere culpa in omnis.
      Fugit accusamus repellat sequi quibusdam sed doloremque optio?
    </p>
  </body>
</html>
